*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    width: 100%;
    height: 60px;
    box-shadow: rgba(255, 255, 255, 0.733) 0px 10px 29px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    gap: 5%;
    z-index: 1;
    background-color: white;
    top:0px;
}
.logo{
    width: 20%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.heading{
    width:38%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.button{
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.bars{
    width: 3%;
    
    display: none;
    
}
.log{
    width: 250px;
    position: relative;
    left: 20%;
}
.heading >p{
    color: silver;
    font-size: 12px;
    cursor: pointer;
}
.maps{
    width: 10px;
    cursor: pointer;
}
.button1{
    width: 90px;
    height: 30px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.search1{
    width: 12px;
}
.button2{
    width: 80px;
    height: 30px;
    box-shadow: hsla(27, 84%, 54%, 0.2) 0px 7px 8px 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    cursor: pointer;
    transition: 0.5s;
}
.users{
    width: 12px;
}
.button1:hover{
    transform: scale(1.1);
}
.button2:hover{
    transform: scale(1.1);
}
@media screen and (max-width:600px)
{
    nav{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        gap: 30%;
        z-index: 1;
       
    }
    
    .logo{
        width: 50%;
       
        display: flex;
        align-items: center;
        justify-content: left;
        
       
    }
    .heading{
        width: 30%;
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        text-align: center;
    }
    .button{
        width: 20%;
        display: none;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .log{
        width:120px;
        position: relative;
        left: 20%;
    }
    .bars{
        width: 10%;
        
        display: block;
        
    }
    .heading >p{
        color: silver;
        font-size: 8px;
        cursor: pointer;
        
    }
    .maps{
        width: 6px;
        cursor: pointer;
    }
    .button1{
        width: 70px;
        height: 15px;
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.5s;
        text-align: center;
    }
    .search1{
        width: 8px;
    }
    .button2{
        width: 70px;
        height: 15px;
        box-shadow: hsla(27, 84%, 54%, 0.2) 0px 7px 8px 2px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: orange;
        cursor: pointer;
        transition: 0.5s;
        font-size: 8px;
        text-align: center;
    }
    .users{
        width: 6px;
    }
    .button1:hover{
        transform: scale(1.1);
    }
    .button2:hover{
        transform: scale(1.1);
    }
}
.main{
    width: 100%;
    height: 400px;
    background-color: orange;
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
    margin-top: 60px;
    
}
.container{
    width: 90%;
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
  
    
}
.main1{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    float: left;
    
   
    position: relative;
    top: 50px;
   
    
}
.main1 >h1{
    color: #FFFFFF;
}
.main2{
    width: 40%;
    height: 380px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.boximg{
    width: 500px;
    position: relative;
    top: 32px;
}
.find{
    width: 400px;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40px;
}
.find1{
    width: 95%;
    height: 45px;
    
    display: flex;
    align-items: center;
    gap: 2%;
}
.deliv{
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f7dace ;
    font-size: 12px;
    color:#e2621e ;
    cursor: pointer;
    transition: 0.5s;
}
.cycle{
    width: 18px;
}
.pic{
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(252, 248, 248);
    font-size: 12px;
    cursor: pointer;
    transition: 0.5s;
    
}
.cycle{
    width: 12px;
}
.deliv:hover{
    transform: scale(1.1);
}
.pic:hover{
    transform: scale(1.1);
}



.find2{
    width: 95%;
    height: 45px;
   
    display: flex;
    align-items: center;
    gap: 2%;
}
.int{
    width: 280px;
    height: 30px;
    border: none;
    background-color: rgb(245, 244, 244);
    font-size: 12px;
    padding-left: 5px;
    color: grey;
}
.int:focus{
    background-color: white;
    outline-color: silver ;
    border: none;
}
.buttonf{
    width: 90px;
    height: 30px;
    background-color: #e2621e;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    color: white;
    font-size: 12px;
    transition: 0.5s;
}
.searchf{
    width: 12px;
}
.buttonf:hover{
    transform: scale(1.01);
}
@media screen and (max-width:850px)
{
    .container{
        width: 90%;
        
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        
      
        
    }
    .main{
        width: 100%;
        height: 500px;
        background-color: orange;
       
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    .main1{
        width: 90%;
        height: 250px;
        text-align: center;
        
        align-items: center;
        justify-content: center;
        position: relative;
        top: 50px;
       
        
    }
    .main1 >h1{
        color: #FFFFFF;
    }
    .main1 >p{
        text-align: center;
        font-size: 12px;
    }
    .main2{
        width: 90%;
        height: 250px;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .boximg{
        width: 280px;
        position: relative;
        top: 32px;
    }
    .find{
        width: 280px;
        height: 70px;
        background-color: #FFFFFF;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 40px;
    }
    .find1{
        width: 95%;
        height: 33px;
        
        display: flex;
        align-items: center;
        gap: 2%;
    }
    .deliv{
        width: 60px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#f7dace ;
        font-size: 10px;
        color:#e2621e ;
        cursor: pointer;
        transition: 0.5s;
    }
    .cycle{
        width: 18px;
    }
    .pic{
        width: 60px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:rgb(252, 248, 248);
        font-size: 10px;
        cursor: pointer;
        transition: 0.5s;
        
    }
    .cycle{
        width:8px;
    }
    .deliv:hover{
        transform: scale(1.1);
    }
    .pic:hover{
        transform: scale(1.1);
    }
    
    
    
    .find2{
        width: 95%;
        height: 33px;
       
        display: flex;
        align-items: center;
        gap: 2%;
    }
    .int{
        width: 200px;
        height: 20px;
        border: none;
        background-color: rgb(245, 244, 244);
        font-size: 8px;
        padding-left: 5px;
        color: grey;
    }
    .int:focus{
        background-color: white;
        outline-color: silver ;
        border: none;
    }
    .buttonf{
        width: 70px;
        height: 20px;
        background-color: #e2621e;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.5s;
        color: white;
        font-size: 8px;
        transition: 0.5s;
    }
    .searchf{
        width: 8px;
    }
    .buttonf:hover{
        transform: scale(1.01);
    }

}
.cards{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.carda{
    width: 80%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
   
    
}
.card-main{
    width: 200px;
    height: 300px;
 
    
}
.card{
    position: relative;
    transition: 0.5s;
}
.card >img{
    width: 200px;
    height: 150px;
    
    border-radius: 16px;
    cursor: pointer;
    
}
.card:hover{
transform: scale(1.01);
}
.disc{
    width: 70px;
    height: 40px;
    background-color: #FFB30E;
    border-radius: 0px 32px 0px 0px;
    position: absolute;
    bottom: 4.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.card-image{
    width: 200px;
    height: 100px;
    
}
.h{
    width: 200px;
    height: 200px;
    font-size: 15px;
    font-weight: 700;
}

.bt{
    width: 120px;
    height: 25px;
    background-color: #f7dace;
    display:flex;
    align-items: center;
    font-size: 12px;
    color: #e2621e;
    justify-content: center;
    margin-top: 5px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.bt:hover{
    transform: scale(1.05);
}
.work-main{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient( #FFCE67 0%, #FDEDCA 22% );
}
.work{
    width: 80%;
   
}
.work1{
    width: 100%;
   margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #e2621e;
    cursor: pointer;
    transition: 0.5s;
}
.work1:hover{
    transform: scale(1.1);
}
.work2{
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.location{
    width: 180px;
    height: 180px;
    cursor: pointer;
}
.loc-image{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loc-para{
    width: 100%;
    height: 90px;
    text-align: center;
    
}
.loc{
    width: 90px;
    transition: 0.5s;
}
.loc:hover{
    transform: scale(1.1);
}
.loc-para >h4{
    font-size: 15px;
}
.loc-para >p{
    font-size: 12px;
    color: #9b9595;
}
@media screen and (max-width:500px)
{
    .work1{
        font-size: 20px;
        text-align: center;
    }
}
.item-main{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    
}
.item{
    width: 80%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    flex-wrap: wrap;
    
}
.item-head{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.item-card{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}
.item-card1{
    width: 161px;
    height: 300px;
    border-radius:20px ;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item-carda{
    width: 160px;
    height: 150px;
    border-radius: 20px;
    
}
.item-carda >img{
    width: 100%;
    border-radius: 20px;
}
.item-cardb{
    width: 160px;
    height: 60px;
    
    font-size: 12px;
    display: block;
    align-items: center;
    line-height: 20px;
    margin-bottom: 30px;
}
.gold{
    color:#FFCE67;
    font-weight: 700;

}
.itm-btn{
    width: 160px;
    height: 30px;
    border-radius: 5px;
    background-color: #e2621e;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.itm-btn:hover{
    transform: scale(1.01);
}
@media screen and (max-width:500px)
{
    .item-head{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        text-align: center;
    }
}
